@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" xmlns="http://www.w3.org/1999/html">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p><font color="red">Remember: Tenant locator is hardcoded in memory</font></p>
</div>
