@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Unauthorised</title>
</head>
<body>
<H1>You are not authorised to use this application</h1>
<div>
    <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Sign out</a>
</div>
</body>
</html>