@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" xmlns="http://www.w3.org/1999/html">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p><span style="color: red; ">Remember: Tenant locator is hardcoded in memory</span></p>
    <p><span style="color: #e0a800; ">Remember: If running in Docker, localhost => http://host.docker.internal</span></p>
</div>
